/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  padding: 100px 0;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main), sans-serif;
  font-variation-settings: "wght" var(--font-main-weight-text);
  background-image: var(--bg-linear-gradient);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  background: var(--details-color-light);
  margin: auto;
  text-align: center;
  border: 2px solid var(--details-color);
  padding: var(--padding);
  width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
}

.header__link {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
  font-family: var(--font-accent), "fantasy";
}
.header__heading {
  font-family: var(--font-accent), "fantasy";
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  margin-top: 20px;
}
.main {
  margin: auto;
  width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  margin-top: 98px;
}
.card__image-content {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1/1;
}
.card__heading {
  font-variation-settings: "wght" var(--font-weight-title);
  font-family: var(--font-main), sans-serif;
  font-size: 18px;
  line-height: 1;
  padding: 6px 10px;
}
.card__image {
  position: relative;
  width: 100%;
  display: block;
  object-position: center;
  object-fit: cover;
}
.saturate__image {
  filter: saturate(30%);
}
.grayscale__image {
  filter: grayscale(70%);
}
.saturate__main {
  filter: saturate(200%);
}
.contrast__image {
  filter: sepia(50%) grayscale(30%) brightness(1.2) contrast(1.1);
}
.opacity__image {
  filter: opacity(30%);
}
.invert__image {
  filter: invert(80%);
}

.sepia__image {
  filter: sepia(90%);
}

.blur__image {
  filter: blur(1rem);
}

.card__label {
  position: absolute;
  right: 25px;
  top: 25px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  font-size: 14px;
  font-family: var(--font-accent), "fantasy";
  text-shadow: 0 0 1px var(--details-color-light);
  color: var(--details-color);
}

.container__item-card {
  margin-bottom: 50px;
  border: 2px solid var(--details-color);
}
.container_info {
  background: var(--details-color-light);
}
.container__card-content {
  margin: 25px;
}
.card__content-text {
  margin-bottom: 25px;
}
.card__text {
  font-variation-settings: var(--font-main-weight-text);
  font-size: 18px;
}

.card__btn {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
  padding-bottom: 18px;
}

.card__icon-button {
  background: transparent;
  border: 2px solid transparent;
  transition: border 0.3s ease;
  min-height: 38px;
}
.card__icon-button:focus {
  outline: none;
}
.card__icon-button:focus-visible {
  border: 2px solid var(--details-color);
}
.card__like-button {
  color: var(--details-color-light);
  background: var(--details-color-light);
  min-width: 130px;
  padding: 10px 14px;
  max-height: 38px;
}

.button__text {
  position: relative;
  mix-blend-mode: difference;
  background: transparent;
  font-family: var(--font-accent), "fantasy";
  font-size: 14px;
}
.content__btn-save {
  display: flex;
  justify-content: center;
}
.save__btn {
  padding: 17px 20px;
  border: 2px solid var(--details-color);
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.sparks {
  opacity: transparent;
}
.floppy__save {
  width: 21px;
  position: relative;
  mix-blend-mode: difference;
  color: var(--details-color-light);
  z-index: 1;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--details-color-light);
  mix-blend-mode: difference;
  align-self: center;
}
.dialog__save:not([open]) {
  pointer-events: none;
  opacity: 0;
}
#dialog__save::backdrop {
  background: var(--details-color);
  opacity: 75%;
}

.dialog__save-content {
  display: flex;
  flex-direction: row;
  font-family: var(--font-accent), "fantasy";
  line-height: 150%;
  font-size: 14px;
  gap: 20px;
}
.dialog__save-content-text {
  max-width: 234px;
}

.dialog__btn_ok {
  margin-top: 30px;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
}

.button {
  transition: 0.5s ease-in-out;
  cursor: pointer;
  color: var(--details-color-light);
  background: var(--details-color-light);
  position: relative;
}

.button::before {
  content: "";
  display: block;
  background: var(--details-color);
  height: 100%;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}

.button:hover::before {
  transition: 0.5s ease-in-out;
  width: 100%;
}
.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--details-color);
  transition: box-shadow 0.3s ease;
}
.button:focus:focus-visible {
  box-shadow: var(--details-color);
}
@media (width <= 375px) {
  .save__btn {
    display: flex;
    flex-direction: column;
  }
  .floppy__save {
    width: 28px;
    height: 28px;
    align-self: center;
  }
}
