/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-main:'Inter-Variable';
    --font-main-weight-text:400;
    --font-main-weight-heading:700;
    --font-accent:'PressStart2P';
    --animation-fill-color:rgba(255, 0, 0, 1);
    --sparks-fill-color:rgba(255, 0, 0, 1);
    --contour-color:#000;
    --padding:clamp(7.5rem, 7.1479rem + 1.5023vw, 8rem) 0 clamp(7.5rem, 7.1479rem + 1.5023vw, 8rem);
       
}