/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-main:'Inter-Variable';
    --font-main-weight-text:400;
    --font-main-weight-heading:700;
    --font-accent:'PressStart2P';
    --animation-fill-color:rgba(255, 0, 0, 1);
    --sparks-fill-color:rgba(255, 0, 0, 1);
    --contour-color:#000;
       
}